<div class="ngm-page">
  <app-header></app-header>
  <div class="ngm-page-content ngm-course-page-content">
    <div class="ngm-layout">
      <div class="ngm-form">
        <div class="ngm-form-h">Login</div>
        <label class="ngm-form-field">
          <div class="ngm-form-form-field-label">
            <span>Email:</span>
            <div class="ngm-form-form-field-label-required">*required</div>
          </div>
          <input class="ngm-form-field-input" placeholder="Enter Email" name="email" />
        </label>
        <label class="ngm-form-field">
          <div class="ngm-form-field-label">
            <span>Password:</span>
            <div class="ngm-form-field-label-required">*required</div>
          </div>
          <input class="ngm-form-field-input" placeholder="Enter Password" name="password" type="password" />
        </label>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
