<div class="ngm-course-list-item">
  <div class="ngm-course-list-item-info">
    <div class="ngm-course-list-item-top">
      <div class="ngm-course-list-item-title">{{ item.title }}</div>
      <div class="ngm-course-list-item-time">
        <div class="ngm-course-list-item-time-item ngm-course-list-item-duration">
          <fa-icon class="ngm-course-list-item-time-icon" [icon]="icons.faClock"></fa-icon>{{ item.duration * 60 * 1000 | date: 'H\'h\' mm\'m\'': 'UTC' }}
        </div>
        <div class="ngm-course-list-item-time-item ngm-course-list-item-date">
          <fa-icon class="ngm-course-list-item-time-icon"[icon]="icons.faCalendarAlt"></fa-icon>{{ item.date | date: 'd MMM, yyyy'}}
        </div>
      </div>
    </div>
    <div class="ngm-course-list-item-description">
      {{ item.description }}
    </div>
  </div>
  <div class="ngm-course-list-item-controls">
    <div class="ngm-course-list-item-control"><fa-icon class="ngm-course-list-item-control-icon" [icon]="icons.faPen"></fa-icon>Edit</div>
    <div class="ngm-course-list-item-control"><fa-icon class="ngm-course-list-item-control-icon" [icon]="icons.faTrash"></fa-icon>Delete</div>
  </div>
</div>
